# Database
DB_ROOT_PASSWORD=your_root_password
DB_USER=paperless
DB_PASSWORD=your_db_password
DB_NAME=paperless

# Paperless
PAPERLESS_TOKEN=your_paperless_api_token
PAPERLESS_SECRET_KEY=your_paperless_secret_key
PAPERLESS_URL=http://paperless-ngx:8000
PAPERLESS_TASK_WORKERS=2
PAPERLESS_THREADS_PER_WORKER=2

# Backend
JWT_SECRET=your_jwt_secret

# ThaiD (DOPA) OAuth Integration
THAID_CLIENT_ID=WTZUaUt4MmFVMTE0dEtHakRDbEJT
THAID_CLIENT_SECRET=VVdtaVc2bHQ1amRQNkRoZ1Rpb1cyYjA5aFh
THAID_CALLBACK_URL=https://mis.bangkhan.com/api/auth/thaid/callback
# THAID_BASE_URL=https://imauth.bora.dopa.go.th/api/v2/oauth2/auth/
# THAID_TOKEN_URL=https://imauth.bora.dopa.go.th/api/v2/oauth2/token/
# THAID_USERINFO_URL=https://imauth.bora.dopa.go.th/api/v2/oauth2/userinfo/
# THAID_SCOPE=openid pid name

# Authentik OIDC Integration
AUTHENTIK_BASE_URL=https://auth.bangkhan.com
AUTHENTIK_CLIENT_ID=gaw6F3Z6SDIOp8JjHoeW4WceB5ntB6
AUTHENTIK_CLIENT_SECRET=4bEpWBnnrk6bIiF87CyNgBeBzcUEdj2bYHVcWQnsdAVVcJvQyneyemoFV3jpmqtXlXfxWdHxxEu8QdQdStfAo40qhX1lW8N6VkPnFZktYdC3us4PPJ
AUTHENTIK_CALLBACK_URL=http://mis.bangkhan.com/api/auth/authentik/callback

# Frontend Redirect URL (Optional fallback)
# FRONTEND_URL=https://mis.bangkhan.com
